<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Join Our Team</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/Join_page.css">
</head>
<body>

<div class="wrapper">
    <h1>Team-05</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/malik.jpg" alt="our_team">
          </div>
          <h3>Sai Mallik</h3>
          <span>20881A6647</span>
        </div>

        <div class="team_member">
            <div class="member_img">
               <img src="/static/d.jpg" alt="our_team"> 
            </div>
            <h3>Dharanishwar</h3>
            <span>20881A6609</span>
        </div>


        <div class="team_member">
            <div class="member_img">
               <img src="/static/adarsh.jpg" alt="our_team"> 
            </div>
            <h3>Adarsh Krishna</h3>
            <span>20881A6611</span>
        </div>


       
    </div>
</div>	

</body>
</html>